<h1><%=@style.name%></h1>
<ul>
<%@beers.each do |beer|%>
  <li><a href="/beers/<%=beer.id%>"><%= beer.name %></a>
  <p>ABV: <%=beer.abv%>%</p>
  </li>
<% end %>
</ul>
<a href="/categories/<%= @style.category_id %>">back</a>
